<dict>
  <key>organization</key>
  <string>${ORG_NAME}</string>
  <key>auth_client_id</key>
  <string>${ACCESS_KEY}</string>
  <key>auth_client_secret</key>
  <string>${SECRET_KEY}</string>
  <key>warp_connector_token</key>
  <string>${TUNNEL_KEY}</string>
</dict>
