curl https://pkg.cloudflareclient.com/pubkey.gpg | sudo gpg --yes --dearmor --output /usr/share/keyrings/cloudflare-warp-archive-keyring.gpg 

echo "deb [arch=amd64 signed-by=/usr/share/keyrings/cloudflare-warp-archive-keyring.gpg] https://pkg.cloudflareclient.com/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/cloudflare-client.list 

sudo apt-get update && sudo apt-get install cloudflare-warp

cat << EOF >> /var/lib/cloudflare-warp/mdm.xml
<dict>
  <key>organization</key>
  <string>castironclay</string>
  <key>auth_client_id</key>
  <string>{{ client_id_access }}</string>
  <key>auth_client_secret</key>
  <string>{{ your_client_secret_value }}</string>
  <key>warp_connector_token</key>
  <string>{{ connector_token }}</string>
</dict>
EOF